@model LibraryOfBooks.ViewModels.LoginViewModel

<h2>Вход в систему</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
    <div>
        <a asp-controller="Account" asp-action="Register">Нет аккаунта? Зарегистрироваться</a>
    </div>
</form>